.vscode/**
.vscode-test/**
src/**
.gitignore
.eslintrc.json
tsconfig.json
**/*.map
**/tsconfig.json
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/*.md
node_modules/**/*.ts
**/*.vsix
package-lock.json
